.advantage {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2-15px * 6);
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -15px;
  }
}

.advantage__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 1199.8px) {
    margin: 15px;
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    margin: 15px;
    width: 270px;
  }
}

.advantage__wrap {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantage__svg {
  width: 70px;
  height: 70px;
}

.advantage__title {
  margin-bottom: 10px;
  @include font($fw: 700, $fs: 14px);
  text-transform: uppercase;
  color: var(--color-title);
  @media screen and (max-width: 767.8px) {
    text-align: center;
  }
}

.advantage__text {
  @include font($fw: 400, $fs: 14px, $lh: 1.71);
  color: var(--color-text);
}
