.section-cards {
  background-color: #f5f4fa;
}

.cards__img {
  width: 100%;
  height: auto;
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 460px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 374px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}

.cards {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    flex-basis: calc(100% / 2-30);
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: -30px;
  }
}

.cards__item {
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.2), 0px 1px 1px 0 rgba(0, 0, 0, 0.14),
    0px 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.cards__wrap {
  padding: 30px 0;
}

.cards__title {
  margin-bottom: 10px;
  @include font($fs: 16px, $lh: 1.19);
  color: var(--color-title);
}

.cards__text {
  margin-bottom: 16px;
  text-align: center;
  @include font($fs: 16px, $lh: 1.19);
  color: var(--color-text);
}
