.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  outline: none;
  fill: #ffffff;
  border: 1px solid #212121;
  border-radius: 4px;
  transition: border var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
  .checkbox__input:checked ~ & {
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
  }
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  &:focus {
    border: 1px solid var(--color-accent);
  }
}

.form-modal__text {
  @include font($fs: 12px, $lh: 1.17);
  color: #757575;
  @media screen and (min-width: 1200px) {
    @include font($fs: 14px, $lh: 1.71);
  }
}

.form-modal__link {
  color: var(--color-accent);
}
