.form-modal__title {
  display: block;
  margin-bottom: 12px;
  @include font($fw: 700, $fs: 20px, $lh: 1.5);
  @media screen and (min-width: 1200px) {
    @include font($fw: 700, $fs: 20px, $lh: 1.15);
  }
  text-align: center;
  color: var(--color-title);
}

.form-modal__label {
  display: block;
  margin-bottom: 10px;
  @include font($fs: 12px, $lh: 1.17, $ls: 0.01em);
  color: #757575;
}

.form-modal__wrap {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-modal__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);
  &:focus {
    border-color: var(--color-accent);
  }
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill var(--duration) var(--timing-function);
  .form-modal__input:focus ~ & {
    fill: var(--color-accent);
  }
}

.form-modal__label-comment {
  margin-bottom: 20px;
}

.form-modal__comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  @include font($fs: 14px, $ls: 0.01em);
  @media screen and (min-width: 1200px) {
    @include font($fs: 12px, $lh: 1.17, $ls: 0.01em);
  }
  color: rgba(117, 117, 117, 0.5);
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  &:focus {
    border-color: var(--color-accent);
  }
}

.form-modal__btn {
  min-width: 200px;
  height: 50px;
  margin: 30px auto 0 auto;
  padding: 10px 55px 10px 56px;
  background-color: #188ce8;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  @include font($fw: 700, $fs: 16px, $lh: 1.88, $ls: 0.06em);
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
