:root {
  --weight-title: 700;
  --color-title: #212121;
  --size-section-title: 36px;
  --color-accent: #2196f3;
  --color-text: #757575;
  --color-text-second: #ffffff;
  --wight-btn: 500;
  --size-btn: 16px;
  --background-btn: #f5f4fa;
  --size-img-title: 18px;
  --line-height-img-title: 2;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
